.lnxAddContactContent .body {
  padding: 2rem 2.5rem 0rem 2.5rem;
}

.lnxAddContactContent .body .input {
  margin-top: 1rem
}

.lnxAddContactContent .body .inputNumber {
  margin-top: 1rem;
  width: 100%
}

.lnxAddContactContent {
  overflow: auto;
  height: calc(100vh - 282px) !important
}

.lnxAddContactHeader {
  padding: 15px;
  box-shadow: 1px 5px 8px #d4d4d4;
}

.lnxAddContactHeader .buttonContainer .save {
  background-color: #3bb54f;
  color: white;
}

.lnxAddContactHeader .title {
  font-size: large;
  font-weight: 500;
  margin: 0px;
}

.lnxAddContactContent .uploadContainer div:first-child {
  display: block
}

/* .lnx-add-contact-textarea .icon-container .send-icon {
  margin-top: 25px;
  font-size: 2rem !important;
}

.lnx-add-contact-textarea .icon-container {
  text-align: center
} */

.lnx-add-contact-textarea {
  padding-top: 1rem;
  padding-left: 15px;
  bottom: 0;
  position: fixed;
  border-top: 1px solid #dadada
}

.lnxAddContactContent .actionButton {
  margin-top: 1rem;
}

.lnxAddContactContent .actionButton .update {
  float: right
}

.lnxAlert .lnxList {
  padding-left: 0px
}