.lnx-inbox-container {
  /* margin-top: 5px */
}

.lnx-inbox-search {
  padding: 15px;
  box-shadow: 1px 5px 8px #d4d4d4;
}

.lnx-inbox-search-icon-container {
  text-align: center
}

.lnx-inbox-search-icon {
  vertical-align: middle !important;
  font-size: 1.5rem !important
}

.lnx-inbox-message-box {
  padding: 8px 25px 8px 15px !important
}

.lnx-inbox-message-box:hover {
  background: #40a9ff !important;
  color: white !important;
  cursor: pointer;
}

.lnx-inbox-message-box .ant-list-item-meta-title {
  font-weight: 600;
  margin-bottom: 0px;
  color: unset
}

.lnx-inbox-message-box .ant-list-item-meta-description {
  font-style: italic;
  color: unset;
  font-size: small
}

.lnx-inbox-message-box .ant-badge-not-a-wrapper {
  margin-right: 10px;
}

.lnx-inbox-message-inifinite-scroll {
  overflow: auto;
}