.lnxThreadBody {
  overflow: auto;
  height: calc(100vh - 295px) !important;
  max-height: calc(100vh - 295px) !important
}

.lnxThreadTextarea {
  margin-top: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
  bottom: 0;
  position: fixed;
}

.lnxThreadHeader {
  padding: 15px;
  box-shadow: 1px 5px 8px #d4d4d4;
}

.lnxThreadHeaderContactName {
  font-size: larger;
  font-weight: 700;
  margin-bottom: 0px;
  cursor: pointer;
}

.lnxThreadHeaderContactNumber {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 0px;
}

.lnxThreadHeaderIconContainer,
.lnxThreadTextareaIconContainer {
  text-align: center
}

.lnxThreadHeaderDeleteIcon {
  margin-top: 10px !important;
  font-size: 1.5rem !important
}

.lnxThreadTextareaSendButtonContainer {
  margin: 22px 15px 15px 15px;
}

.lnxThreadBody {
  background-color: #f1f1f1
}

.lnxThreadMessageCard {
  word-wrap: break-word
}

.lnxThread:not(:last-child) {
  border-bottom: none !important;
  padding-bottom: 0px !important;
}

.lnxThread div:first-child {
  word-break: break-word;
}

.lnxThread .lnxThreadMessageCard div {
  padding: 10px 10px 5px 10px;
  min-width: 150px
}

.lnxThreadMessageTime {
  margin-bottom: 0px;
  float: right;
  font-size: smaller;
  font-style: italic;
}

.lnxThreadMessageSender {
  margin-bottom: 0px;
  float: right;
  font-size: smaller;
  font-style: italic;
}

.lnxThreadMessageContent {
  margin-bottom: 5px;
}

.lnxThreadOutbound div:first-child {
  background-color: #40a9ff;
  color: white
}

.lnxThreadInbound div:first-child {
  background-color: white;
  color: #4c4c4c
}

.lnxThread div:first-child {
  flex: none;
  display: block;
}

.lnxThread div>div>div {
  max-width: 230px;
}

.lnxThread.lnxThreadOutbound {
  flex-direction: row-reverse
}

.lnxThreadOutbound div:first-child {
  justify-content: flex-end;
}

.lnxThreadInbound div:first-child {
  justify-content: flex-start;
}

.lnxThreadBody div>div:first-of-type {
  border: none
}

.lnxTwilioNumberContainer {
  left: unset !important;
  right: 0px;
  bottom: 0px;
  top: unset !important;
}

.lnxTwilioNumberContainer div>div {
  left: unset !important;
  top: unset !important;
  bottom: 87px;
  z-index: 2147483647;
  right: 25px;
}

.lnxRecipientContainer div>div {
  left: unset !important;
  top: 162.016px !important;
  right: 14px;
  width: 345px !important;
  z-index: 13123123123123;
}

.lnxLoadMoreButton {
  margin-left: 8.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}