.lnxInboxMessageContainer {
  overflow: auto;
  height: calc(100vh - 175px) !important
}

.lnxInboxMessageContainer .ant-badge-not-a-wrapper {
  margin-right: 10px;
}

.lnxSearchBar {
  padding: 15px;
  box-shadow: 1px 5px 8px #d4d4d4;
}

.lnxSearchBarButtonContainer {
  text-align: center
}

.lnxListContainerContent:hover {
  background: #40a9ff !important;
  color: white !important;
  cursor: pointer;
}

.lnxListContainerContent .ant-list-item-meta-title {
  font-weight: 600;
  margin-bottom: 0px;
  color: unset
}

.lnxListContainerContent .ant-list-item-meta-description {
  font-style: italic;
  color: unset;
  font-size: small
}

.lnxListContainerContent {
  padding: 8px 25px 8px 15px !important
}