.lnxSettingsBodyContainer {
  padding: 2rem 2.5rem;
}

.lnxFormGroup {
  margin-bottom: .5rem !important;
}

.lnxSettingsBodyContainer .lnxFormGroup:nth-child(2) {
  margin-bottom: 1.5rem !important;
}

.lnxSettingsHeaderContainer {
  padding: 15px;
  box-shadow: 1px 5px 8px #d4d4d4;
}

.lnxSettingsHeaderContainer .lnxTextHeader {
  margin-bottom: 0px
}

.lnxSettingsBodyContainer .lnxFormInput {
  margin-top: 1rem;
}

.lnxAlert .lnxList {
  padding-left: 0px
}